.cardsContainer {
  display: flex;
  flex-direction: row;
  gap: 32px;
  padding: 32px;
  border: 1px solid #e0e0e0;
  border-radius: 16px;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 260px;
  max-height: 260px;

  &::-webkit-scrollbar {
    display: none;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #919191; 
  }

}

.cardsContainer:hover {
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    display: block;
  }
}

.pageContainer {
  padding: 60px;
}

.warning {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  bottom: 20px;
  color: #c55f0b;
  position: fixed;
  gap: 10px;
}

.error {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  bottom: 50px;
  color: #c50b0b;
  position: fixed;
}

.closeButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0px;
  margin-top: 4px;
}
