.cardsContainer {
  display: flex;
  flex-direction: row;
  gap: 32px;
  overflow-x: auto;
  padding: 32px;
  border: 1px solid #e0e0e0;
  border-radius: 16px;
}

.pageContainer {
  padding: 60px;
}

.warning {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  bottom: 20px;
  color: #c55f0b;
  position: fixed;
  gap: 10px;
}

.error {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  bottom: 50px;
  color: #c50b0b;
  position: fixed;
}

.closeButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0px;
  margin-top: 4px;
}
